* {
    margin: 0;
    padding: 0;
}
body {
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/restrant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 20%;
    
    
}
ol {
    list-style-type: none;
    text-align: center;
    background-color: black;
}
a,a:active {
    text-decoration:none ;
    color: inherit;
}

li {
    display: inline-block;
    margin-inline: 1.5rem;
    color: white;
    padding: 1rem;
}

.main:hover{
    text-decoration: underline;
    color: rgb(15, 235, 183);
    text-rendering: none;
}

h1 {
    text-align: center;
    padding: 2rem;
    color: rgb(245, 248, 247);
    font-family:bold;
}
div {
    text-align: center;
    padding:1rem;
    opacity: 10rem;
    float: inline-end;
}
p {
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 3rem;
}
.menu {
    text-align: left;
    float:inline-start;
    font-size: 1.5rem;
    color: black;
    background-color: bisque;
    border-radius: 50%;
}
.menu:hover{
    text-decoration: underline;
}